@mixin createBtn($bgColor, $color) {
  display: inline-block;
  padding: 4px 16px;
  font-weight: bolder;
  text-decoration: none;
  background-color: $bgColor;
  color: $color;
  &:hover,
  &:focus {
    text-decoration: underline;
    background-color: $color;
    color: $bgColor;
  }
}
